body {
    background-color: rgb(20, 19, 19);
}
/* 
nav bar */

#left {
    position: relative;
    left: 64%;
}

/* about section */

.aboutTxtOne {
    color: white;
    margin-top: 22%;
}

.aboutTxtTwo {
    font-weight: bold;
    color: whitesmoke;
}

.aboutTxtThree {
    color: whitesmoke;
}

.imageChat {
    position: relative;
    top: 12%;
    height: 95%;
}
 
.btnAbout {
    position: relative;
    top: 24%;
}

#aboutBtnOne {
    width: 48%;
    height: 54px;
}

#aboutBtnTwo {
    position: relative;
    left: 14%;
    width: 48%;
    height: 54px;
}

.aboutSpec {
    font-weight: bold;
    position: relative;
    top: 39%;
    right: 38%;
    font-size: 15px;
    color: whitesmoke;
    display: inline;
}