body {
    background-color: rgb(20, 19, 19);
}
/* 
nav bar */

#navs {
 z-index: 1;
}

#left {
    position: relative;
    left: 64%;
}

/* about section */

.aboutTxtOne {
    color: white;
    margin-top: 22%;
}

.aboutTxtTwo {
    font-weight: bold;
    color: whitesmoke;
}

.aboutTxtThree {
    color: whitesmoke;
}

.imageChat {
    position: relative;
    top: 12%;
    height: 98%;
}
 
.btnAbout {
    position: relative;
    top: 24%;
}

#aboutBtnOne {
    width: 48%;
    height: 54px;
}

#aboutBtnTwo {
    position: relative;
    left: 14%;
    width: 48%;
    height: 54px;
}

.aboutSpec {
    position: relative;
    top: 39%;
}

/* service content */

#service {
    margin-top: 21%;
    text-align: center;
    color: whitesmoke;
}

#border {
    border-style: outset;
    border-color: whitesmoke;
    border-radius: 6%;
    margin-top: 7%;
    width: 247px;
}

.serTxt {
    color: whitesmoke;
    font-size: 144%;
    font-weight: bold;
}

.serTxtTwo {
    color: whitesmoke;
}

.imgSer {
    height: 10%;
    position: relative;
    top: 3%;
}

#digital {
    margin-top: 6%;
    text-align: center;
    color: whitesmoke;
}

#aboutUS {
    margin-top: 6%;
}

.lineunder {
    position: relative;
    left: 30%;
}

.lineunderunder {
    position: relative;
    left: 86%;
}

#aboutustech {
    color: whitesmoke;
}

.cutting {
    width: 8%;
    margin-top: 10%;
}

.cuttingImg {
    position: relative;
    right: 7%;
    margin-top: 10%;
}

.cutingTxt {
    position: relative;
    top: -46px;
    left: 13%;
}

.cutingTxtTwo {
    font-size: 68%;
}

#clientSec {
    text-align: center;
    color: whitesmoke;
}

.arrow {
    width: 73%;
    position: relative;
    left: 46%;
    top: 5%;
}

.slider {
    width: 20%;
    position: relative;
    left: 40%;
    top: 77%;
}

.next {
    width: 12%;
    position: relative;
    top: 57%;
    left: 90%;
}

.newsImg {
    width: 100%;
}

#chooseUs {
    display: none;
}

#newsLetter {
    text-align: center;
    color: whitesmoke;
}

.newsLetterRot {
    position: relative;
    top: -171%;
}

.contactLorem {
    color: whitesmoke;
    margin-top: 22%;
}

.socialLinks {
    margin-top: 8%;
    padding: 12%;
}

.socialSer {
    margin-top: 11%;
    color: whitesmoke;
}

.callNum {
    color: whitesmoke;
    position: relative;
    left: 16%;
    top: -26px;
}

.footerOne {
    position: relative;
    right: 40%;
}

.footerTwo {
    position: absolute;
    left: 77%;
}

.testi {
    display: none;
}

.contactLoremT {
    display: none;
}

.arrow{
    display: none;
}


@media all and (max-device-width: 374px) {
    .imageChat {
        display: none;
    }

    #navs {
        width: 161%;
    }

    #mobileAbout {
        width: 100%;
    }

    .aboutTxtOne {
        position: relative;
        text-align: center;
        left: 30%;
        font-size: 109%;
    }

    .aboutTxtTwo {
        width: 120%;
        text-align: center;
        position: relative;
        left: 20%;
    }
    

    .aboutTxtThree {
        width: 170%;
    }

    #aboutBtnTwo {
        display: none;
    }

    #aboutBtnOne {
        position: relative;
        top: -52px;
        left: 44%;
        width: 76%;
    }

    .aboutSpec {
        width: 117%;
        position: relative;
        top: 25%;
        left: 34%;
    }

    .mobileSocial {
        display: none;
    }

    #service {
        width: 162%;
        margin-top: 41%;
    }

    .borderss {
        border-style: outset;
        border-color: whitesmoke;
        border-radius: 6%;
    }

    #border {
        border-style: none;
        border-color: none;
        border-radius: none;
        margin-top: 7%;
        width: 247px;
        width: 200%;
    }

    .presenceLeft {
        position: relative;
        left: 66%;
    }

    #digitalTwo {
        display: none;
    }

    .digitalThree {
        width: 172%;
        margin-top: 32%;
    }

    .aboutText {
        position: relative;
        top: -111%;
        left: 64%;
    }

    #imageGirl {
        width: 148%;
    }

    .girlImage {
         width: 170%;
         height: 59%;
    }

    #aboutustech {
        width: 129%;
    }

    .aboutTech {
            position: relative;
            top: -35%;
            text-align: center;
            font-size: 118%;
            left: 16%;
            width: 131%;
    }

    .aboutRevo {
            text-align: center;
            font-size: 84%;
            position: relative;
            top: -35%;
            left: 20%;
            width: 122%;
    }

    .cutting {
        position: relative;
        top: -76px;
        left: 73%;
        width: 18%;
        margin-top: -40%;
    }

    .cuttingImg {
            position: relative;
            right: -57%;
            bottom: 150px;
            margin-top: 10%;
            width: 11%;
    }

    .cutingTxt {
            position: relative;
            top: -161px;
            left: 9%;
            width: 144%;
            text-align: center;
            font-size: 109%;
            margin-top: 11%;
    }

    .linetops {
        display: none;
    }

    .linetopUnders {
        display: none;
    }

    .lineunder {
        display: none;
    }

    .lineunderunder {
        display: none;
    }

    #chooseUs {
        display: grid;
    }

    .chooseText {
        color: whitesmoke;
        text-align: center;
        width: 159%;
        position: relative;
        top: -68%;
    }

    .chooseTxt {
        margin-top: 10%;
        color: whitesmoke;
        text-align: center;
        width: 169%;
    }

    .test {
        display: none;
    }

    .testi {
        display: grid;
        font-size: 113%;
        position: relative;
        left: 31%;
    }

    .transforming {
        width: 166%;
    }

    #digital {
        margin-top: 0%;
        position: relative;
        left: 6%;
    }

    .clientSection {
        display: none;
    }

    #clientSec {
        text-align: center;
        color: whitesmoke;
        width: 100%;
        position: relative;
        left: 29%;
    }

    .newsLet {
        display: none;
    }

    .newsImg {
        width: 161%;
    }

    .newsLetterRot {
        position: relative;
        top: -65%;
        width: 192%;
    }

    .newsLets {
        font-size: 102%;
    }

    #btnSearch {
        position: relative;
        left: -17%;
    }

    .imgEmail {
        width: 10%;
        height: 48px;
    }

    .clientLo {
        width: 137%;
        position: relative;
        text-align: center;
        right: 18%;
    }

    #imageView {
        display: none;
    }

    #id {
        width: 125%;
    }

    #serviceContent {
        margin-top: 123%;
    }

    .contactLorem {
        display: none;
    }

    .contactLoremT {
        display: grid;
        color: whitesmoke;
        text-align: center;
        margin-top: 9%;
    }

    #clientLOGO {
        text-align: center;
        position: relative;
        left: 28%;
        width: 109%;
    }

    .serviceContact {
        position: relative;
        bottom: 490px;
        left: -278%;
        width: 885%;
    }

    .contactTxt {
        display: none;
    }

    .imgContact {
        display: none;
    }

    .contenService {
        position: relative;
        width: 602%;
        bottom: 106%;
    }

    .contenServices {
        width: 575%;
        position: relative;
        bottom: 106%;
        left: 603%;
    }

    .socialLinks {
        position: relative;
        top: 172%;
        margin-top: 8%;
    }

    .footerOne {
        position: relative;
        right: -31%;
        text-align: center;
        bottom: 110px;
    }

    .hr {
        display: none;
    }

    .footerTwo {
        display: none;
    }

    .typeEmail {
        position: relative;
        top: 55px;
    }

    .arrow {
        display: grid;
        position: relative;
        left: 84%;
        bottom: 15px;
    }

    .arrowTwo {
        position: relative;
        bottom: 24px;
        left: 14%;
    }
}
