body {
    background-color: rgb(20, 19, 19);
}
/* 
nav bar */

#navs {
 z-index: 1;
}

#left {
    position: relative;
    left: 64%;
}

/* about section */

.aboutTxtOne {
    color: white;
    margin-top: 22%;
}

.aboutTxtTwo {
    font-weight: bold;
    color: whitesmoke;
}

.aboutTxtThree {
    color: whitesmoke;
}

.imageChat {
    position: relative;
    top: 12%;
    height: 100%;
}
 
.btnAbout {
    position: relative;
    top: 24%;
}

#aboutBtnOne {
    width: 48%;
    height: 54px;
}

#aboutBtnTwo {
    position: relative;
    left: 14%;
    width: 48%;
    height: 54px;
}

.aboutSpec {
    position: relative;
    top: 39%;
}

/* service content */

#service {
    margin-top: 21%;
    text-align: center;
    color: whitesmoke;
}

#border {
    border-style: outset;
    border-color: whitesmoke;
    border-radius: 6%;
    margin-top: 7%;
    width: 247px;
}

.serTxt {
    color: whitesmoke;
    font-size: 144%;
    font-weight: bold;
}

.serTxtTwo {
    color: whitesmoke;
}

.imgSer {
    height: 10%;
    position: relative;
    top: 3%;
}

#digital {
    margin-top: 6%;
    text-align: center;
    color: whitesmoke;
}

#aboutUS {
    margin-top: 6%;
}

.lineunder {
    position: relative;
    left: 30%;
}

.lineunderunder {
    position: relative;
    left: 86%;
}

#aboutustech {
    color: whitesmoke;
}

.cutting {
    width: 8%;
    margin-top: 10%;
}

.cuttingImg {
    position: relative;
    right: 7%;
    margin-top: 10%;
}

.cutingTxt {
    position: relative;
    top: -46px;
    left: 13%;
}

.cutingTxtTwo {
    font-size: 68%;
}

#clientSec {
    text-align: center;
    color: whitesmoke;
}

.arrow {
    width: 73%;
    position: relative;
    left: 46%;
    top: 5%;
}

.slider {
    width: 20%;
    position: relative;
    left: 40%;
    top: 77%;
}

.next {
    width: 12%;
    position: relative;
    top: 57%;
    left: 90%;
}

.newsImg {
    width: 100%;
}

#newsLetter {
    text-align: center;
    color: whitesmoke;
}

.newsLetterRot {
    position: relative;
    top: -171%;
}

.contactLorem {
    color: whitesmoke;
    margin-top: 22%;
}

.socialLinks {
    margin-top: 8%;
    padding: 12%;
}

.socialSer {
    margin-top: 11%;
    color: whitesmoke;
}

.callNum {
    color: whitesmoke;
    position: relative;
    left: 16%;
    top: -26px;
}